@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  -webkit-box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, .1);
  box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, .1);
  position: relative;

  .info{
    background-color: #333;
    color: white;

    .container{
      width: 100%;
      margin: 0 auto;
      padding: 8px 16px;
      max-width: 1640px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;

      @media screen and (max-width: 1024px) {
        padding: 6px 12px;
      }

      a{
        display: flex;
        gap: 8px;
        align-items: center;
        transition: 150ms;

        &:hover{
          color: var(--light-orange);
        }
      }

      .links{
        display: flex;
        gap: 16px;
        font-size: 14px;

        @media screen and (max-width: 1024px) {
          font-size: 12px;
          gap: 14px
        }
      }

      @media screen and (max-width: 1024px) {
        nav a{
          font-size: 14px;
        }
      }
    }
    
    @media screen and (max-width: 860px) {
      display: none;
    }
  }

  .main{
    background-color: #fff;
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    @media screen and (max-width: 1024px) {
      padding: 12px;
    }

    @media screen and (max-width: 860px) {
      display: none;
    }
  }

  .logo-container{
    font-weight: 600;
    font-size: 32px;
    display: flex;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;

    a{
      display: flex;
      align-items: center;
      gap: 12px;
    }
    
    @media screen and (max-width: 1024px) {
      a{
        gap: 8px;
      }

      .logo{
        width: 26px;
        height: 26px;
      }

      .logo-text{
        width: 180px;
      }
    }

    @media screen and (max-width: 860px) {
      .logo{
        width: 22px;
        height: 22px;
      }

      .logo-text{
        width: 160px;
      }

    }
  }


  .catalog-btn{
    margin-left: 16px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1024px) {
      margin-left: 0;
    }
  }

  .search-container{
    width: 100%;
    display: flex;

    input{
      width: 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

   button{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

  }

  //MOBILE

  .main.mobile{
    display: none;
    gap: 12px;
    padding: 8px;

    @media screen and (max-width: 860px) {
      display: flex;
    }

    @media screen and (max-width: 520px) {
      display: block;

      .logo-container{
        margin-bottom: 16px;
      }
    }

    .search-container{
      font-size: 14px;
    }

  }
}

