.menu{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fff;
  z-index: 10;

  -webkit-box-shadow: 0px -6px 8px 0px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 0px -6px 8px 0px rgba(34, 60, 80, 0.1);
  box-shadow: 0px -6px 8px 0px rgba(34, 60, 80, 0.1);

  a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
  }

  @media screen and (max-width: 860px) {
    display: grid;
  }
}

