.main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.authWindow{
  padding: 24px;
  border-radius: 8px;
  border: 1px solid var(--orange-100);
  -webkit-box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.15);

  .logoContainer{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    margin-bottom: 48px;
  }

  .authError{
    font-weight: 600;
    text-align: center;
    color: red;
    margin-bottom: 16px;
    font-size: 18px;
    display: none;
  }


  form{
    display: flex;
    flex-direction: column;
    width: 512px;

    input{
      margin-bottom: 24px;
    }

    label{
      margin-bottom: 4px;
      font-weight: 500;
    }
  }
}

.adminPanel {
  width: 100%;
  //margin: 0 auto;
  //background: #1c1c1c;
  border-radius: 16px;
  padding: 24px;
  //color: #fff;
}

.tabs {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  background-color: #fff4ee;
  padding: 8px;
  border-radius: 8px;
}

.tabButton {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #2c2c2c;
  color: #ccc;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}

.tabButton:hover {
  background: #383838;
  color: #fff;
}

.activeTab {
  background: #ff7a00;
  color: #fff;
}

.tabContent {
  border-radius: 8px;
  padding: 20px;
}

.placeholder {
  text-align: center;
  opacity: 0.8;
}

.list{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

