$accent: #e46221;

.cardContainer {
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 240px;
  transition: 150ms;
  cursor: pointer;
  position: relative;


  &:hover{
    transform: scale(1.02);
    .image{
      transform: scale(1.05);
    }
  }
}

.imageWrapper {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  pointer-events: none;
  transition: 150ms;
  height: 240px;
}

.tag {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
}

.tagNew {
  background-color: dodgerblue;
}

.tagHit {
  background-color: #28a745; // зелёный для "Хит"
}

.tagSale {
  background-color: #dc3545; // красный для "Распродажа"
}

.info {
  padding: 1rem;
}

.name {
  margin: 0 0 0.5rem;
  font-size: 14px;
  font-weight: 500;
  color: #111;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.price {
  margin: 0 0 1rem;
  font-size: 18px;
  font-weight: 600;
  color: $accent;
}

.params {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;

  p {
    color: #111;
    font-weight: 500;
    margin-bottom: 4px;
    font-size: 14px;

    span{
      color: #888;
      font-size: 14px;
    }
  }
}

.data{
  position: absolute;
  z-index: 3;
  left: 8px;
  top: 8px;
  transform: rotate(0deg);
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  img{
    transition: all 0.1s ease-in;
  }

  &:hover{
    img{
      transform: rotate(90deg);
      width: 38px;
      height: 38px;
    }
  }
}
