.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  animation: fadeIn 0.2s ease-in-out;
  overflow-y: scroll;
  padding: 16px;
}

.modal {
  background: #fff;
  border-radius: 16px;
  width: 100%;
  max-width: 1024px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  animation: scaleIn 0.2s ease-in-out;
  margin: 32px;
  max-height: 95vh;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  text-align: center;

  h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
}

.closeBtn {
  background: none;
  border: none;
  color: #aaa;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: var(--orange);
    background-color: transparent;
  }
}

.content {
  font-size: 16px;
  line-height: 1.5;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

@media screen and (max-width: 768px) {
  .modal{
    margin: 0;
    padding: 8px;
    max-height: 95vh;
  }

  .overlay{
    padding: 0;
  }

  .header h3{
    font-size: 14px;
  }
}
