@use "sass:color";
@use "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --orange: #e46221;
  --light-orange: #ff9662;
  --orange-100: #fdf4ee;
}

$accent: #e46221;

*{
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button{
  background-color: $accent;
  color: white;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  flex-shrink: 0;
  transition: 150ms;

  &:hover{
    background: color.adjust($accent, $blackness: 10%)
  }

  @media screen and (max-width: 1024px) {
    padding: 6px 14px;
  }

  @media screen and (max-width: 860px) {
    font-size: 14px;
  }
}


button.border{
  background-color: transparent;
  border: 2px solid $accent;
  color: $accent;

  &:hover{
    border-color: color.adjust($accent, $blackness: 10%);
    color: color.adjust($accent, $blackness: 10%);
  }
}

input, textarea, select{
  padding: 8px 16px;
  border: 1px solid lightgray;
  border-radius: 8px;

  &:active, &:focus-within, &:target-within {
    outline: none;
    border: 1px solid var(--light-orange);
  }

  @media screen and (max-width: 1024px) {
    padding: 6px 14px;
  }

  @media screen and (max-width: 860px) {
    font-size: 14px;
  }
}


main{
  margin: 8px auto;
  padding: 8px 16px;
  max-width: 1640px;
  width: 100%;
  flex: 1;

  @media screen and (max-width: 768px) {
    padding: 8px;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  display: inline-grid;
  padding: 5px;
  background: #fff;
  filter: blur(4px) contrast(12);
}
.loader:before {
  content: "";
  height: 40px;
  aspect-ratio: 3;
  --c: #0000 64%, #06080e 66% 98%,#0000 101%;
  background:
          radial-gradient(35% 146% at 50% 159%,var(--c)) 0 0,
          radial-gradient(35% 146% at 50% -59%,var(--c)) 100% 100%;
  background-size: calc(200%/3) 50%;
  background-repeat: repeat-x;
  animation: l11 .8s infinite linear;
}
@keyframes l11{
  to {background-position: -200% 0,-100% 100%}
}