@use "sass:color";
// HomePage.module.scss

$accent: #e46221;

.main {
  color: #111;
  width: 100%;
}

.companySection {
  color: #fff;
  background: url("../public/background-pipes.jpeg") no-repeat center;
  background-size: cover;

  .blurFilter{
    backdrop-filter: blur(16px);
    width: 100%;
    padding: 8rem 2rem;
    background-color: #00000055;

    @media screen and (max-width: 640px) {
      padding: 16px 8px
    }
  }

  .companyContainer{
    padding: 8px 16px;
    max-width: 1640px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    @media screen and (max-width: 1280px) {
      display: block;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.advantagesSection{
  padding: 4rem 2rem;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
  }

  .advantageBlock{
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    gap: 24px;

    &:last-child{
      margin-bottom: 0;
    }

    h3{
      font-size: 20px;
      font-weight: 600;
    }
    
    @media screen and (max-width: 860px) {
      margin-bottom: 32px;
      gap: 16px;

      h3{
        font-size: 16px;
      }

      p{
        font-size: 14px;
      }

      img{
        width: 64px;
        height: 64px;
      }
    }
  }
}

.logo {
  display: flex;
  gap: 32px;
  flex-shrink: 1;
  min-width: 500px;

  @media screen and (max-width: 1280px) {
    gap: 16px;

    img{
      height: 60px;
      width: fit-content;
    }
  }

  @media screen and (max-width: 860px) {
    gap: 16px;
    min-width: unset;
    flex-wrap: wrap;

    img{
      height: 40px;
      width: fit-content;
    }
  }

  @media screen and (max-width: 425px) {
    img{
      height: 32px;
    }
  }
}

.companyText {
  max-width: 800px;
  margin-top: 2rem;
  flex-shrink: 1;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }

  p {
    margin-bottom: 1.5rem;
  }
}

.primaryButton {
  background: $accent;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: color.adjust($accent, $blackness: 10%)
  }
}

.productsSection {
  background: #fff;
  padding: 4rem 2rem;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;

  }
}

.container {
  margin: 0 auto;
}

.productsGrid {
  padding: 8px 0;
  display: flex;
  gap: 24px;
  overflow-x: auto;
}

.productCard {
  background: #f3f3f3;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;

  h3 {
    margin: 1rem 0 0.5rem;
  }

  p {
    font-size: 0.9rem;
    color: #555;
  }
}

.productImage {
  height: 150px;
  background: #ddd;
  border-radius: 8px;
}

.catalogButtonWrapper {
  text-align: center;
  margin-top: 2rem;
}

.brandsSection {
  padding: 4rem 2rem;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;

  }
}

.brandsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.brandCard {
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #444;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  img{
    height: auto;
    width: 100px;
  }
}

.formSection {
  background: #fff;
  padding: 4rem 2rem;

  h2{
    font-weight: 600;
    font-size: 32px;
  }

  .contacts{
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 32px;

    a{
      display: flex;
      gap: 16px;
      font-weight: 500;
      margin-bottom: 8px;
    }
    
    @media screen and (max-width: 860px) {
      display: block;
    }
  }
}

.containerGrid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input,
  textarea {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.75rem;
    font-size: 1rem;
  }

  textarea {
    resize: vertical;
    min-height: 120px;
  }
}

.mapPlaceholder {
  background: #eee;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: #666;
  height: 300px;
}

@media screen and (max-width: 860px) {
  .main{
    h2{
      font-size: 24px;
    }

    .productsSection, .advantagesSection, .brandsSection, .formSection{
      padding: 32px 0;
    }
  }

  .companyContainer{

    .companyText{
      margin-top: 16px;

      h2{
        font-size: 24px;
        margin-bottom: 8px;
      }

      p{
        font-size: 14px;
      }
    }
  }
}
