.catalog-page {
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;

  h1 {
    font-size: 28px;
    font-weight: bold;
    color: var(--orange);
    margin-bottom: 30px;
  }
}

.catalog-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

.catalog-card {
  padding-top: 16px;
  background: #fdf4ee;
  border-radius: 12px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-rows: 4fr 3fr;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    //box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    //transform: translateY(-2px);

    img{
      transform: scale(1.1);
    }
  }

  img {
    transition: 150ms;
    width: 100%;
    //height: 256px;
    object-fit: contain;
    margin-bottom: 15px;
    mix-blend-mode: darken;
  }

  h2 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .data-container{
    padding: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 14px;
      color: #333;
      margin-bottom: 4px;
    }
  }
}
