.main {
  h1 {
    font-size: 32px;
    font-weight: 600;
  }

  h2{
    font-weight: 500;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  a{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
    width: fit-content;
    color: var(--orange);
    font-weight: 500;
  }
}