.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input,
  textarea {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.75rem;
    font-size: 1rem;
  }

  textarea {
    resize: vertical;
    min-height: 120px;
  }
}

.contacts{
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 32px;

  a{
    display: flex;
    gap: 16px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  @media screen and (max-width: 860px) {
    display: block;
  }
}