.wrapper {
  padding: 2rem;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input,
.textarea {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

.textarea {
  resize: vertical;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.paramRow {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.addBtn,
.removeBtn,
.submitBtn {
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
}

.addBtn {
  padding: 0.4rem 0.75rem;
}

.removeBtn {
  background: #dc2626;
  color: #fff;
  padding: 0 0.6rem;
  font-size: 1.2rem;

  &:hover {
    background: #b91c1c;
  }
}

.fileInput {
  color: #9ca3af;
  margin-bottom: 0.75rem;
  width: 100%;
}

.previewGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.previewItem {
  position: relative;
  cursor: pointer;

  img {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 0.5rem;
    border: 2px solid transparent;
  }
}

.mainSelected img {
  border-color: #22c55e;
}

.imgDescription{
  color: gray;
  font-size: 14px;
  margin-bottom: 16px;
}

.removeImgBtn{
  position: absolute;
  bottom: 4px;
  right: 4px;
  background: red;
  color: #fff;
  font-size: 16px;
  padding: 0.1rem 0.4rem;
  border-radius: 0.25rem;

}

.mainBadge {
  position: absolute;
  top: 4px;
  left: 4px;
  background: #16a34a;
  color: #fff;
  font-size: 12px;
  padding: 0.1rem 0.4rem;
  border-radius: 0.25rem;
}

.submitBtn {
  padding: 0.75rem;
  font-size: 1rem;
}

.message {
  text-align: center;
  margin-top: 0.5rem;
}

.success {
  color: #4ade80;
}

.error {
  color: #f87171;
}

.select {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  appearance: none;
  font-size: 0.95rem;
  cursor: pointer;

  &:focus {
    outline: none;
    border-color: #2563eb;
  }
}

.deleteBtn{
  margin-bottom: 16px;
  width: 100%;
}

.confirmationBlock{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 16px;

  button{
    width: 100%;
  }

  .delete{
    background-color: #dc2626;

    &:hover{
      background-color: #cb2424;
    }
  }

  .discard{
    background-color: #214be0;

    &:hover{
      background-color: #2146c9;
    }
  }
}

@media screen and (max-width: 768px) {
  .paramRow{
    flex-direction: column;
    margin-bottom: 24px;
  }

  .addBtn{
    width: 100%;
    padding: 12px;
  }

  .wrapper{
    padding: 12px;
  }

  .removeBtn{
    padding: 8px;
  }

  .title{
    font-size: 20px;
  }


}